<template>
  <div class="about">
    <h1>ToDo List</h1>
    <input type="text" placeholder="add new task" v-on:keyup.enter="newTask" />
    <div>
      {{ todos }}
      <div class="ff">
        <TodoEntry v-for="todo in todos" :todo="todo" />
      </div>
    </div>
  </div>
</template>

<script>
import TodoEntry from "../components/TodoEntry.vue";
import store from "../store";
export default {
  components: { TodoEntry },
  created() {
    this.$store
      .dispatch("fetchTodos")
  },
  computed: {
    todos() {
    return  this.$store.state.todos;
    },
  },
  methods: {
    newTask(e) {
      store.commit("addTodo", { name: e.target.value, done: false });
      e.target.value = "";
    },
  },
};
</script>