<template>
  <div class="home ">
    <h3>Weather data in your city</h3>
    <input placeholder="City name" v-on:keyup.enter="fetchWeather" type="text" v-model="city" />
    <input type="button" value="Enter"  @click="fetchWeather" />
    <p></p>
    <div class="ff">
    <weather-results v-if="fetched" v-bind:weatherData="weatherData"/> 
  </div>
  </div>
</template>

<script>
import WeatherResults from "../components/WeatherResults.vue";
const url = 'https://api.openweathermap.org/data/2.5/weather?'
const API_KEY = "ea073e04bc85f31dab1408ad497f277f"
export default {
  name: "Weather",
  components: {
    WeatherResults,
  },
      data() {
        return {
            city: "",
            fetched: false,
            failed : false,
            weatherData:{}
        }
    },
    methods: {
        fetchWeather(e) {
            fetch(url + new URLSearchParams({ q: this.city, appid: API_KEY,units:"metric" })).then(res => res.json()).then(res=>{
                if (res.cod == 404){
                    this.failed = true;
                    this.fetched = false;
                    return;
                }
                console.log(res)
                this.weatherData = res
                this.fetched = true;
            })

    }},
};
</script>
<style scoped>
.ff{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
</style>