<template>
  <div >
    <input @click="updateTask" type="checkbox" v-model="todo.done" />
    <label>{{ todo.name }}</label>
  </div>
</template>

<script>
import store from "../store";
export default {
  props: ["todo"],
  methods: {
    updateTask() {
      store.commit("toggleTodo", this.todo.id);
    },
  },
};
</script>

<style>
</style>