<template>
     <div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
      <img :src="iconUrl" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{weatherData.name}}</h5>
        <p class="card-text">{{weatherData.weather[0].description}}</p>
        <p class="card-text">{{weatherData.main.temp}}</p>
        <p class="card-text"><small class="text-muted">Feels like: {{weatherData.main.feels_like}}</small></p>
      </div>
    </div>
  </div>
</div> 
</template>

<script>
export default {
props: ["weatherData"],
data(){
    return {}
},
computed:{
    iconUrl(){
        return `https://openweathermap.org/img/wn/${this.weatherData.weather[0].icon}@2x.png`
    }
}
}
</script>

<style>

</style>